@charset "UTF-8";

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(77, 76, 76);
    font-size: 20px;
    line-height: 150%;
    background-image: url('images/pinkandbrownplaid.png');
    padding: 20px;
    /* zoom: 75%; */
    cursor: url(https://cur.cursors-4u.net/others/oth-5/oth506.cur), auto !important;
}

.wrapper {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 40px;
    border-radius: 50px;

}

.header {
    padding: 30px;
    font-size: 40px;
    text-align: center;

}

/* .leftcolumn {
    padding: 10px;
    float: left;
    width: 75%;
    background-color: white;
}

.rightcolumn {
    float: right;
    width: 25%;
    padding-left: 20px;
} */

.card {
    padding: 20px;
    margin-top: 20px;
    background-color: #fce4ef;
    border-radius: 50px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.footer {
    padding: 20px;
    text-align: center;
    margin-top: 20-px;
}

h1 {
    text-align: center;
    color: #c79274;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #946656;
}

h2 {
    text-align: center;
    color: #c79274;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #946656;
    font-size: 80%;
}

h3 {

    color: #c79274;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #946656;
}

h4 {

    color: #c79274;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #946656;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #fce4ef;
    border-radius: 50px;
    overflow: hidden;

}

li {
    float: left;
}

a {
    color: rgb(188, 187, 187);
    text-decoration: none;

}

a:hover {
    cursor: url(https://cur.cursors-4u.net/others/oth-5/oth505.cur), auto !important;
    color: rgb(77, 76, 76);
    text-decoration: none;
}

li a {
    display: block;
    background-color: #E1B09C;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    text-align: center;

}

li a:hover {
    background-color: #C79274;
    color: white;
}

.nav-boarder {
    border-radius: 50px;
}

.active {
    background-color: #946656;
}

.showcase {
    background: #fbd1e4;
    text-align: center;

    overflow: auto;
    padding: 30px;
    width: 40%;
    border-radius: 5%;
    margin-top: 20px;

}

.showcase-item {
    background: #d1a890;
    display: inline-block;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 10px;
    padding: 20px;
    border-radius: 10%;
}

.showcase-item:hover {
    background-color: #c79274;
    ;
}

img {
    background-color: white;
    width: 100%;
    padding: 20px;
    border-radius: 5%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

* {
    box-sizing: border-box;
}

.column {
    float: left;
    width: 25%;
    padding: 5px
}
.column2{
    float:left;
    width:70%;
    padding:10px;
}
.column3{
    float:right;
    width:30%
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
.microtext{
    font-size:70%;
}

.logo {
    width: 250px;
    background-color: transparent;
    display: flexbox;
    float: left;
    margin-top: -40px;
}

.tour-card:hover {
    background-color: #ffbcda;
}

figcaption {
    text-align: center;
    text-decoration: none;
}

.text-shadow {
    text-shadow: white 1px 0 10px;
}

.hover-image:hover {
    background-color: #ffbcda;
}

.article {
    color: rgb(77, 76, 76);
}

.article:hover {
    color: rgb(188, 187, 187);
}

.profile-container-2 {
    display: grid;
    grid-template-columns: auto auto;
    gap: .1rem .1rem;
    align-items: top center;
}

.img-grid {
    background-color: none;
}